extends ./layout.pug
block contenido
block titulo
	h1 Nuestra empresa
block subtitulo1
	p Quienes somos
block subcontenido1
	div(class="img_container2 border margin_top padding_top border_radius")
		img(src="public/imgs/LogoAstro.png")
		div(style="border-bottom: 1px dashed rgba(128, 128, 128, 0.50);" class="margin_top margin-bottom")
		p Astro “Telecable” es una microempresa de servicios de señal de televisión tiene 11 años funcionando; nos encontramos ubicados entre Av. 13 de Diciembre y Jose Laborde, Valencia.
		div(style="border-bottom: 1px dashed rgba(128, 128, 128, 0.50);" class="margin_top margin-bottom")
		p Somos una empresa seria con responsabilidad social que brinda el servicio de televisión pagada con las mejores alternativas para el entretenimiento de toda la familia y al alcance de la ciudadanía en general, satisfaciendo las necesidades y expectativas de los clientes y personal que labora en la entidad.
	div(style="border-bottom: 1px dashed rgba(128, 128, 128, 0.50);" class="margin_top margin-bottom")
	div(class="img_container2 border margin_top padding_top border_radius")
		h2(class="c_negro") Misión
			div(style="border-bottom: 1px dashed rgba(128, 128, 128, 0.50);" class="margin_top margin-bottom")
		p Generar experiencias de servicio extraordinarias en entretenimiento, comunicación e información, con recursos humanos comprometidos y procesos eficaces que superen las expectativas de valor de nuestros clientes con una atención integral de salud a las personas y contribuir al desarrollo del conocimiento mejorando sus expectativas televisivas. 
		div(style="border-bottom: 1px dashed rgba(128, 128, 128, 0.50);" class="margin_top margin-bottom")
		h2(class="c_negro") Visión
			div(style="border-bottom: 1px dashed rgba(128, 128, 128, 0.50);" class="margin_top margin-bottom")
		p Ser reconocido como la primera Microempresa a nivel de provincia, nacional, por mantener a través del tiempo una atención de calidad, contando con personal capacitado para el servicio que requieran nuestros servicios.