extends ./layout.pug
block contenido
block titulo
	h1 Contactos
block subtitulo1
	p Telefonos
block subcontenido1
	div(class="img_container2 border margin_top padding_top border_radius")
		img(src="public/imgs/LogoAstro.png")
		div(style="border-bottom: 1px dashed rgba(128, 128, 128, 0.50);" class="margin_top margin-bottom")
		p Telf:. 740-388
		p Cel:. 0994710012
